@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .main-movies {
    @apply flex flex-wrap justify-between pb-9 gap-x-8;
  }
  .main-movies h2 {
    @apply w-full px-12 pt-6;
  }
  .movie-img {
    @apply cursor-pointer rounded-md max-w-sm object-cover opacity-90;
  }
  section {
    @apply flex p-12 overflow-auto justify-start gap-6 m-auto w-max;
  }

  .div-img-movie {
    @apply relative w-96 hover:scale-105 transition-transform;
  }
}
.div-img-movie {
  box-shadow: inset 0 0 215px 105px #141414;
}
.movie-data {
  transition: 3s height ease;
}
section::-webkit-scrollbar {
  width: 1em;
}

section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section::-webkit-scrollbar-thumb {
  background-color: #481414;
  border-radius: 16px;
}
